*.iws
*Db.properties
*Db.script
*.h2.db
*.h2.data
.settings
eclipse
plugin.xml
site-config.groovy
stacktrace.log
target
/plugins
/web-app/js/yui-cms
/web-app/js/yui
/web-app/plugins
/web-app/WEB-INF/classes
*.iml
*.ipr
.idea
.DS_Store