.pagination {
	background: transparent !important;
	padding: 10px 0 !important;
	
	ul {
		.clearfix();
		list-style: 0 none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			padding: 0 4px;
			border-width: 0 1px;
			border-style: solid;
			border-right-color: @grailsGrayLight;
			border-left-color: rgba(255,255,255,.7);
			a {
				display: block;
				float: left;
				padding: 2px 10px;	
				#textshadow > .white(0.8);
				color: @grailsGray;
				.border-radius(@radius);
				&:hover {
					color: @grailsBlack;
					background: @white;
					text-decoration: none;
				}
			}
			span {
				display: block;
				padding: 4px 15px;
				float: left;
				#textshadow > .white(0.8);
			}
			&.active {
				a {
					background: @white;
					font-weight: bold;
					&:hover {
						
					}
				}
			}				
			&.disabled {
				span {
					color: @grailsGrayLight;
				}
			}
			&.first {
				border-left-width: 0;
			}
			&.last {
				border-right-width: 0;
			}
		}
	}
}