/* Pagination fix */
.pagination .disabled, .pagination .currentStep, .pagination .step {
    float: left;
    padding: 0 14px;
    border-right: 1px solid;
    line-height: 34px;
    border-right-color: rgba(0, 0, 0, 0.15);
}
.pagination .prevLink {
    border-left: 1px solid #DDD !important;
}