.diffOutput {
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    border: 2px solid #265c8f;
    width: 550px;
}

.wikiActionMenu {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    list-style-type: none;
    width: 60%;
}

.wikiActionMenu li {
    display: inline;
}

.wikiActionMenu li a {
    padding: 0.2em 1em;
    /*background: #fc6;*/
    /*color: #000;*/
    text-decoration: none;
    /*float: left;*/
    border: none;
}

.wikiActionMenu li a:hover {
    /*background: #08c;*/
    /*color: #fff;*/
}

#wikiLastUpdated {
    font-size: 90%;
    font-style: italic;
    padding-left: 15px;
    padding-bottom: 0.5em;
}

.wikiLinks {
    height: 18px;
    margin-bottom: 10px;
}