.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    background-color: #d8d8d8;
    border: solid #a3a3a3;
    border-width: 0 1px;
    color: #000;
    position: relative;
    text-decoration: none;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
    background-color: #013161;
    color: #fff;
}

.yui-skin-sam .yui-navset .yui-nav a:hover, .yui-skin-sam .yui-navset .yui-nav a:focus {
    background-color: #bfdaff;
    outline: 0;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
    border: solid #013161;
    border-width: 0 0 5px;
    Xposition: relative;
    zoom: 1;
}

.yui-skin-sam .yui-navset .yui-content {
    background: #f6f6fa;
}
