// CSS Reset
@import "bootstrap-reset.less";

// Core variables and mixins
@import "bootstrap-variables.less";
@import "bootstrap-mixins.less";
@import "grails-variables.less";
@import "grails-patterns.less";

.section-1 {
        .downloads {
            background: url(../img/page/bgblue.png) repeat 0 0;
            padding: 20px 30px;
            margin-top:10px;
            margin-bottom: 20px;
            position: relative;
            color: #334c58;
            -moz-border-radius: 5px;
            border-radius: 5px;            
            h2 {
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                padding-bottom: 5px;
                margin: 0;
                color: #334c58;
                small {
                    font-size: 14px;
                }
            }
            p {
                margin: 0;
                padding: 0;
                padding-right: 220px;
            }

            .buttons {
                margin: 0;
                position:absolute;
                right: 20px;
                top:40px;
                .btn {
                    padding: 0 20px;
                    line-height: 37px;
                    .border-radius(40px);                                     
                    width: 150px;
                    border-right: 1px solid #356017;
                }
                
            }
        }  
}

/* Section 3 */
.section-3 {
	margin-bottom: 10px;
	padding: 10px 0;
	.clearfix();
	.col1, .col2, .col3 {
		float: left;
		width: 30%;
		padding-right: 5%;
		p {
			padding: 0;
			margin: 0;
			margin-bottom: 0.5em;
			color: #555;
			#textshadow>.white(0.8);
		}
	}
	.col3 {
		padding-right: 0;
	}
	
	h3 {
		font-size: @baseFontSize + 7;
		color: rgba(0,0,0,0.6);
		#textshadow>.white(0.8);
	}
}
