<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--><html>
    <head>
        <meta charset='utf-8'/><meta http-equiv='X-UA-Compatible' content='IE=edge'/><meta name='viewport' content='width=device-width, initial-scale=1'/><title>The Grails Framework - Plugins</title><link href='/img/favicon.ico' type='image/x-ico' rel='icon'/><link rel='stylesheet' type='text/css' href='/css/bootstrap.css'/><link rel='stylesheet' type='text/css' href='/css/font-awesome.min.css'/><link rel='stylesheet' type='text/css' href='/css/style.css'/>
    </head><body>
        <div id='fork-me'>
            <a href='https://github.com/grails/grails-core'>
                <img style='position: fixed; top: -14px; right: -14px; border: 0; z-index: 100' src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67' alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png'/>
            </a>
        </div><div id='st-container' class='st-container st-effect-9'>
            <nav class='st-menu st-effect-9' id='menu-12'>
                <h2 class='icon icon-lab'>Socialize</h2><ul>
                    <li>
                        <a href='mailing-lists.html' class='icon'><span class='fa fa-envelope'></span> Discuss on the Mailing List</a>
                    </li><li>
                        <a href='https://twitter.com/grailsframework' class='icon'><span class='fa fa-twitter'></span> Grails on Twitter</a>
                    </li><li>
                        <a href='events.html' class='icon'><span class='fa fa-calendar'></span> Events and conferences</a>
                    </li><li>
                        <a href='https://github.com/grails/grails-core' class='icon'><span class='fa fa-github'></span> Source code on GitHub</a>
                    </li><li>
                        <a href='contribute.html#reporting-issues' class='icon'><span class='fa fa-bug'></span> Report issues in Jira</a>
                    </li><li>
                        <a href='http://stackoverflow.com/questions/tagged/grails' class='icon'><span class='fa fa-stack-overflow'></span> Stack Overflow questions</a>
                    </li>
                </ul>
            </nav><div class='st-pusher'>
                <div class='st-content'>
                    <div class='st-content-inner'>
                        <!--[if lt IE 7]>
                        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                    <![endif]--><div><div class='navbar navbar-default navbar-static-top' role='navigation'>
                                <div class='container'>
                                    <div class='navbar-header'>
                                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                                            <span class='sr-only'></span><span class='icon-bar'></span><span class='icon-bar'></span><span class='icon-bar'></span>
                                        </button><a class='navbar-brand' href='/index.html'>
                                            <i class='fa grails-icon'>
                                                <img src='/img/grails-cupsonly-logo-white.svg'/>
                                            </i> Grails
                                        </a>
                                    </div><div class='navbar-collapse collapse'>
                                        <ul class='nav navbar-nav navbar-right'>
                                            <li class=''><a href='/learn.html'>Learn</a></li><li class=''><a href='/documentation.html'>Documentation</a></li><li class=''><a href='/download.html'>Download</a></li><li class=''><a href='/plugins'>Plugins</a></li><li class=''><a href='/community.html'>Community</a></li><li class=''><a href='/ecosystem.html'>Ecosystem</a></li><li>
                                                <a data-effect='st-effect-9' class='st-trigger' href='#'>Socialize</a>
                                            </li><li class=''>
                                                <a href='/search.html'>
                                                    <i class='fa fa-search'></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--MAINCONTENT--><footer id='footer'>
                                <div class='row'>
                                    <div class='colset-3-footer'>
                                        <div class='col-1'>
                                            <h1>Grails</h1><ul>
                                                <li><a href='/learn.html'>Learn</a></li><li><a href='/documentation.html'>Documentation</a></li><li><a href='/download.html'>Download</a></li><li><a href='/plugins'>Plugins</a></li><li><a href='/community.html'>Community</a></li><li><a href='/ecosystem.html'>Ecosystem</a></li>
                                            </ul>
                                        </div><div class='col-2'>
                                            <h1>About</h1><ul>
                                                <li><a href='/contribute.html'>Contributing</a></li><li><a href='https://github.com/grails/grails-core'>Source code</a></li><li><a href='/buildstatus.html'>Build status</a></li><li><a href='/learn.html#books'>Books</a></li><li><a href='/faq.html'>FAQ</a></li><li><a href='/search.html'>Search</a></li>
                                            </ul>
                                        </div><div class='col-3'>
                                            <h1>Socialize</h1><ul>
                                                <li><a href='/mailing-lists.html'>Discuss on the Mailing List</a></li><li><a href='https://twitter.com/grailsframework'>Grails on Twitter</a></li><li><a href='/events.html'>Events and conferences</a></li><li><a href='https://github.com/grails/grails-core'>Source code on GitHub</a></li><li><a href='/contribute.html#reporting-issues'>Report issues in Jira</a></li><li><a href='http://stackoverflow.com/questions/tagged/grails'>Stack Overflow questions</a></li>
                                            </ul>
                                        </div><div class='col-right'>
                                            <p>
                                                The Grails Framework<br/>repository is hosted by <a href='http://artifactoryonline.com'>Artifactory</a><br/>Website hosting is provided by <a href='http://run.pivotal.io'>Pivotal</a><br/>
                                            </p><a href='http://artifactoryonline.com'>
                                                <img width='150' src='/img/logos/artifactory.png' title='Artifactory Online' alt='Aritfactory Online'/>
                                            </a><br/><a href='http://run.pivotal.io'>
                                                <img src='/img/pws-thumb.png' title='Pivotal Web Service' alt='Pivotal Web Service'/>
                                            </a><br/>
                                        </div>
                                    </div><div class='clearfix'>&copy; 2005-2015 the Grails project &mdash; Grails is Open Source, <a href='http://www.apache.org/licenses/LICENSE-2.0.html'>Apache 2 License</a></div>
                                </div>
                            </footer></div>
                    </div>
                </div>
            </div>
        </div><script src='/js/vendor/jquery-1.10.2.min.js' defer></script><script src='/js/vendor/classie.js' defer></script><script src='/js/vendor/bootstrap.js' defer></script><script src='/js/vendor/sidebarEffects.js' defer></script><script src='/js/vendor/modernizr-2.6.2.min.js' defer></script><script src='/js/plugins.js' defer></script><script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-257558-10', 'auto');
              ga('send', 'pageview');
        </script>
    </body>
</html>