body {
    font-family: Lucida Grande, Lucida, sans-serif;
    font-size: 11pt;
    margin-left:0px;
    margin-right:0px;
    margin-top:10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #48802C;
}
#header, #footer {
    font-family: Lucida Grande, Lucida, sans-serif;
    font-size: 11pt;
}
#contentWrapper {
	background: url(../../images/sprites/master-repeat.png) repeat-x scroll center top;
	background-position: 712px -537px;
	width: 100%;
}
#contentInnerWrapper {
	background: url(../../images/new/plugins/background.jpg) no-repeat left top;
}
.message {
	border:1px solid #48802C;
	background-color:white;
	padding:10px;
	width:90%;
}

.error {
	border:1px solid red;
	background-color:white;
	padding:10px;
	width:90%;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 15px 0;
    padding: 10px 0 0px 0;
}
div.errors ul {
}
div.errors li {
    line-height: 16px;
    padding-left: 30px;
}

#statusbox a {
	color:#48802C;
	text-decoration:none;
}
#statusbox {
	background-color:white;
	font-size:10pt;
	padding:5px;
	border: 2px solid #e6e6e6;
	position:absolute;
	width:207px;
	margin-left:14px;
	top:110px;
	text-align:center;
}
.ie6 #statusbox {
        position:absolute;
        right:120px;
        width:260px;
}
#message {
	margin-bottom:10px;
}
#contentArea {
    width: 910px;
    text-align: left;
}
#springSourceBar #searchbar {
	float:right;
	position:absolute;
	width:210px;
	right:0;
	top:59px;
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -18px -10px;
}
 #searchbar input {
	margin-top:5px;
	width:160px;
    border: none;
    background: transparent;
    color: #CDE5C4;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px;
	margin-right:20px;
	padding-top:2px;
	margin-bottom:3px;
}

#springSourceBar #grailsLogo {
	margin-top:10px;
	float:left;
}

#springSourceBar #springSourceLogo {
	margin-top:10px;
	float:right;
}

#springSourceBar {
	position:relative;
	width:900px;
    height: 60px;
    margin-top: -8px;
}

#contentWindowTop {
	height:21px;
	position:relative;
	top:30px;
	width:706px;
    background: url(../../images/sprites/subpage-variable-width.png) no-repeat top;
    background-position: -10px -228px;
}
#contentDecoration {
	float:right;
	height:44px;
	width:82px;
	position:relative;
	margin-right:70px;
	z-index:10;
	top:30px;
    background: url(../../images/sprites/subpage-variable-width.png) no-repeat top;		
    background-position: -10px -269px;
}
#contentBody {
	width:660px;
    background: url(../../images/sprites/subpage-repeat.png) repeat-y top;
    background-position: -258px 0px;
	position:relative;
	top:30px;
	min-height:450px;
	text-align:left;
	padding:10px;
	padding-right:20px;
	padding-left:30px;
}
.ie6 #contentBody {
        position:relative;
        top:-14px;
}
.ie6 #contentBody ul {
        margin-left:30px;
}
#contentFooter {
	height:21px;
	position:relative;
	top:30px;
	width:706px;
    background: url(../../images/sprites/subpage-variable-width.png) no-repeat top;		
    background-position: -10px -333px;
}
.ie6 #contentFooter {
        position:relative;
        top:-14px;
        left:10px;      
}

.mainMenuBarWrapper {
    background: url(../../images/sprites/master-repeat.png) repeat scroll top;
    background-position: 712px -496px;
    width: 100%;
}
#mainMenuBar {
    height: 24px;
    margin: 0px;
    width: 900px;
    padding: 7px 0px 0px 0px;
    font-size: 10pt;
    text-align: left;
}

#mainMenuBar a {
	color: black; border: inherit; text-decoration: none;
}

#mainMenuBar li {
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -10px -399px;
    display: inline;
    padding: 0px 4px 0px 10px;
    margin-top: 3px;
}

#btmSectionGraphicsWrapper {
    position: relative;
    width: 100%;
    height: 30px;
}

#btmSectionGraphicsWrapper div {
    position: absolute;
    bottom: 0px;
}

#mountainLeft {
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -318px -62px;
    height: 99px;
    width: 234px;
}

#knight {
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -10px -181px;
    height: 49px;
    width: 30px;
    left: 2px;
}

#mountainRight {
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -10px -62px;
    height: 99px;
    width: 164px;
    right: 0px;
}

#castle {
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -10px -250px;
    height: 31px;
    width: 87px;
    right: 203px;
}

#btmSectionBackgroundStretch {
    background-image: url(../../images/sprites/master-repeat.png);
    background-position: 0px -10px;
}

#footer {
    width: 100%;
    height: 80px;
    background-image: url(../../images/sprites/master-repeat.png);
    background-position: 712px -416px;
    font-size: 10pt;
}
#footer img {
    border: 0;
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
}
#footer img.artifactory {
    margin-top: 26px;
}
.innerFooter {
    position: relative;
    width: 880px;
    height: 60px;
    margin-top: -8px;
}

.innerFooter p {
    color: #96937D;
    text-align: right;
    padding: 23px 190px 0px 0px;
}

.innerFooter a {
    color: blue;
    text-decoration: none;
}

#footer .twitter {
    background-image: url(../../images/sprites/master-variable-width.png);
    background-position: -10px -301px;
    width: 69px;
    height: 78px;
    position: absolute;
    top: -17px;
    left: 20px;
}

#footer .springSource {
    background: url(../../images/new/springsource-logo.jpg) no-repeat right top;
    width: 158px;
    height: 54px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.userForm {
    padding:10px;
    padding-top:20px;
    margin:10px;
    margin-top:20px;
    width:580px;    
}

.inputForm label {
		text-align: left;
		padding: 0 1em;
		width: 105px; /* Use to move most form content left/right on page. */
		position:absolute;
		clear: left;
}
/* Set the width for 'input' elements: */
.inputForm input {
    margin-left: 130px;
    color: #333;
    border: 1px solid #555;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1px;
    width: 150px;
}
.formButtons {
    margin: 20px;
}
.hidden {
	display:none;
}
.userForm {
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;	
}
#loginForm {
	width:400px;
	padding-left:20px;
}
#registerForm p {
	margin-bottom:30px;
}
#loginForm form {
	margin-bottom:20px;
}

#btmSectionGraphicsWrapper {
	margin-top:30px;
}
#previewContainer a {
	color:#48802C;
	text-decoration:none;	
}
#previewContainer {
     position:absolute;
		background-color:#F7F8F2;
		border:2px solid white;
     top:400px;
     width:950px;
     height:600px;
     overflow:scroll;
     left:20%;
     padding:10px;
	z-index:9999;
}
.warning {
	border:1px solid red;
    background: white url("../../images/icon-warn.png") 13px 12px no-repeat;
    padding: 10px 10px 10px 39px;
    margin:10px 10px;
}

.note {
	border:1px solid #48802c;
    background: white url("../../images/icon-info.png") 13px 12px no-repeat;
    padding: 10px 10px 10px 39px;
    margin:10px 10px;
}


/*
 * The following tag clouds styles shouldn't really need the #contentCenter
 * prefix, but without it they are overpowered by a '#contentBody li' style.
 */
#contentCenter ol.tagCloud {
    list-style-type: none;
}

#contentCenter ol.tagCloud li {
    display: inline-block;
    padding: 3px;
}

#contentCenter ol.tagCloud li a {
    text-decoration: none;
}

.ie6 #contentCenter ol.tagCloud li {
    zoom: 1;
    display: inline;
}    

#contentCenter ol.tagCloud li.smallest {
    font-size: 80%;
}

#contentCenter ol.tagCloud li.small {
    font-size: 90%;
}

#contentCenter ol.tagCloud li.medium {
    font-size: 100%;
}

#contentCenter ol.tagCloud li.large {
    font-size: 120%;
}

#contentCenter ol.tagCloud li.largest {
    font-size: 150%;
}

