#contentWrapper {
	background: url(../../images/new/plugins/background_stretch.jpg) repeat-x top;
	margin:0px;
	width:100%;
}
#contentCenter {
	min-height:800px;
}
#contentLogo {
	width:380px;
	padding-left:35px;
	text-align:left;
	position:absolute;
	top:-110px;
}
.ie6 #contentLogo {
        position:absolute;
        float:none;
        left:100px;
}
#pluginBgTop {
	background:url(../../images/new/plugins/plugins_topnav.png) no-repeat center bottom;	
	height:94px;
	margin-bottom:0px;
}
#pluginBox {
	padding-left:30;
	margin-top:0px;
	position:relative;
	top:-20px;
	text-align:left;
}
#pluginBox a {
	text-decoration: none;
}
#pluginZombie {
	position: relative;
}
#pluginZombie h1 {
	position: absolute;
	font-size: 36pt;
	color: rgba(100, 100, 100, 0.7);
	left: 250px;
	top: 60px;
	z-index: 10;
}
#pluginDetailsTop {
	background:url(../../images/new/plugins/fullpagePlugin_top.png) no-repeat center top;	
	height: 16px;
}
#pluginDetailsContainer {
	background:url(../../images/new/plugins/fullpagePlugin_desc.png) repeat-y center top;	
	text-align:left;
}
#pluginContent {
	background: url(../../images/new/plugins/fullpagePlugin_mid.png) repeat-y center top;	
	background-position: center;
	margin-top:22px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -26px;
	width: 1008px;
}
.yui-content a {
	color:#48802C;
	text-decoration:none;
}
#statusbox {
	margin-left:130px;
}
.yui-content {
	text-align:left;
	width:948px;
	min-height:200px;
	padding-top:0px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:15px;
}
.dialog input {
	width: 60%;
}
.dialog textarea {
	width: 60%;
	height: 6em;
}
.pluginBoxBottom {
	background: url(../../images/new/plugins/fullpagePlugin_btm.png) no-repeat center top;		
	height:30px;
	position: relative;
	top: -26px;
}
#pluginDetailsBox {
	margin-left: auto;
	margin-right: auto;
	width: 1008px;	
}
#pluginDetailsContainer > p {
	margin-left: 30px;
	margin-right: 180px;
}
.ie6 #pluginDetailsContainer p p {
	margin-left: 0;
	margin-right: 0;
}
	
#pluginBoxTitle {
	padding-left:30px;
	padding-top:5px;
	margin-top: 0;
	font-weight:normal;
	font-size:1.5em;
}
#pluginBox .ratingBox {
	height: 20px;
	margin-top:10px;	
	margin-left:30px;
	margin-bottom:10px;
}
#pluginBox .ratingBox .star_rating {
	float: left
	width: 120px;
}
#pluginBox .ratingBox .rating {
	float: left;
	clear: none;
	width: 100px;
}
#pluginBox .pluginDetail {
	clear: both;
	margin-left:30px;
	font-size:0.9em;	
	width:900px;
}
#pluginBox .pluginDetail > table {
	border-spacing: 0;
	width: 70%;
}
#pluginBox .pluginDetail th {
	width:16em;
}
#pluginBox table tr th {
	text-transform: uppercase;
	font-weight:normal;
	color:#767676;
}
#downloadBox {
	float:right;
	margin-top:0;
	margin-right:15px;
}
#pluginBox .links {
	height: 1.5em;
	list-style-type: none;
	padding-top:20px;
	padding-left:30px;
	padding-bottom:13px;
	font-size:0.9em;
	margin:0px;
	width:100%;
}
#pluginBox ul.links li {
	float: left;
	margin-right: 1.5em;
}
#pluginBox .links div {
	display:inline;
	padding-right:20px;
}
#pluginBox .links  a { color: black; border: inherit; text-decoration: none;}

#pluginBox .description {
	background: url(../../images/new/plugins/fullpagePlugin_desc.png) repeat-y center top;
	padding: 0.5em 30px 3em 30px;
	margin-bottom: 2em;
	clear: both;
	text-align: left;
	width: 948px;
}

#pluginBox td.description {
	background: none;
	margin-top: 2em;
	padding: 0;
	text-align: left;
}

#pluginBox td.value {
	padding-bottom: 1.5em;
}

#pluginBox td.value input[type=text] {
	width: 80%;
}

#pluginBox td.value textarea {
	height: 8em;
	width: 80%;
}

.pluginUsage {
	float: right;
	color: gray;
	font-size: 1.1em;
	width: 12em;
	margin: 1em 0;
	text-align: center;
}

.pluginUsage > .value {
	font-size: 1.5em;
}

ul.actionBar li {
	display: inline-block;
	list-style-type: none;
	padding: 0 10px;
}

.yui-nav li .tabLeft {
	background: url(../../images/new/plugins/tab_down_leftcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	
}
.yui-nav li .tabRight {
	background: url(../../images/new/plugins/tab_down_Rightcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;	
}



.yui-nav li.selected .tabLeft  {
	background: url(../../images/new/plugins/tab_up_leftcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	
}
.yui-nav li.selected .tabRight {
	background: url(../../images/new/plugins/tab_up_Rightcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	
}

.yui-nav li.selected a em {
	background: url(../../images/new/plugins/tab_up_mid.png) repeat-x center top;	
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.tabOuter  {
	position:relative;
	top:-20px;
	padding-left:30px;
	text-align:left;
}

.yui-content h1,.yui-content h2,.yui-content h3,.yui-content h4,.yui-content h5 {
	font-weight:normal;
}
.yui-content h1 {
	font-size:1.6em;
	font-weight:normal;
}
.yui-content h2 {
	font-size:1.4em;
	font-weight:normal;
	color:black;
}

.yui-content h3, .yui-content h4 {
	color:black;
	border-bottom:1px solid #48802C;
}

.yui-nav li a {
	color: black; border: inherit; text-decoration: none;
}
.yui-nav li a em {
	background: url(../../images/new/plugins/tab_down_mid.png) repeat-x center top;	
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.wikiActionMenu li a {
	color: black; border: inherit; text-decoration: none;
}

.description h1 {
	padding-left:0px;
}
#addTagDialog a {
	display:none;
}
#addTagDialog {
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;
	width:90%;	
}
.userForm {
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;	
}
#loginForm {
	width:400px;
	padding-left:20px;
}
#loginForm form {
	margin-bottom:20px;
}
#btmSectionGraphicsWrapper {
	margin-top:30px;
}
#mountainLeft {
	z-index:-1;
}
#btmSectionGraphicsWrapper h2{
	margin-left:12%;
}
.wikiPage {
	width:95%;
}
#pluginTags span a {
	color:#48802C;
	text-decoration:none;
	border:1px solid #48802C;
	background-color:#E8E8E8;
	padding:3px;
}
#pluginTags span a.iconLink {
	border: none;
	background-color: transparent;
        padding: 0.2em;
}
#pluginTags span a.iconLink img {
	margin-bottom: -0.3em;
}
#ratingDisplay {
	z-index:999;
}
#ratingDisplay table{
	width:100px;
}

table.wiki-table {
    border: 1px solid black;
}

table.wiki-table th {
    background-color: #DDD;
    border-bottom: 1px solid black;
    color: #48802C;
}

table.wiki-table th, table.wiki-table td {
    padding: 0.4em 0.7em;
}
