#contentWrapper {
    background: url(../../images/new/plugins/background_stretch.jpg) repeat-x top;
	margin:0px;
	width:100%;
}

#content {
    margin: 0px 0px 0px 350px;
    padding: 100px 0 0 0;
}


#contentCenter {
    background: url(../../images/new/plugins/background.jpg) no-repeat left top;
	min-height:800px;
}
#contentLogo {
	width:380px;
	padding-left:35px;
	text-align:left;
}

.ie6 #contentLogo {
        position:absolute;
        float:none;
        left:100px;
}

#contentArea {
	width:1008px;
}
#pluginsLogo {
	position:absolute;

	top:85px;
	left:38%;
}
.ie6 #pluginsLogo {
        position:absolute;

        top:120px;
        left:38%;
}
#pluginMenu {
    float:left;
    width: 308px;
    font-size: 10pt;
}
.ie6 #pluginMenu {
    position:absolute;
      left:100px;
    width: 308px;
    font-size: 10pt;
}

#pluginMenu h1 {
    text-indent : -9999px;     
    width: 469px;
    height: 269px;
    margin: -13px 0 -165px -110px;
}

#pluginMenu .description {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat left top;
    background-position: -10px -10px;
    padding: 28px;
}

#pluginMenu .description p {
    margin: 0px;
}

#pluginSorters {
    background: url(../../images/sprites/plugins-repeat.png) repeat-y;
    background-position: -10px 0px;
    margin: 0px;
    padding: 12px 19px;
    list-style: none;
}

#pluginSorters li {
    padding-left: 30px;
    height: 30px;
}

#pluginSorters .all {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -625px;
}
#pluginSorters .featured {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -665px;
}
#pluginSorters .popular {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -705px;
}
#pluginSorters .installed {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -927px;
}
#pluginSorters .recentlyUpdated {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -745px;
}
#pluginSorters .newest {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -785px;
}
#pluginSorters .supported { background: url(../../images/new/plugins/icons/supported.jpg) no-repeat top left; }

#pluginMenu .createPlugin {
    background: url(../../images/sprites/plugins-repeat.png) repeat-y;
    background-position: -10px 0px;
}

#pluginMenu .createPlugin h3 {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat center top;
    background-position: -3px -151px;
    text-indent : -9999px;    
    width: 308px;
    height: 56px; 
    margin: 0px;
}

#pluginMenu .createPlugin .detail {
    padding: 28px;
    height: 30px;
}

.ie6 #pluginMenu .createPlugin .detail {
    padding: 18px;
    height: 30px;
}

#pluginMenu .bottom {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat left bottom;
    background-position: -10px -227px;
    height: 31px;
}

#pluginMenu .links { margin-left: 20px; }
#pluginMenu .links a { color: black; border: inherit; text-decoration: none;}

#pluginSorters a { color: black; border: inherit; text-decoration: none;}

#pluginMenu .links ul { list-style: none; padding: 0px; margin: 0px ;}
#pluginMenu .links li {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -825px; 
    padding-left: 20px;
    padding-bottom: 12px;
}

#searchBar {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat left top;
    background-position: -10px -278px;
    width: 658px;
    height: 58px;
    margin-top: -10px;
}

#searchBar .searchInput {
    margin: 15px 10px 15px 15px;
    height: 20px;
    width: 390px;
    border: none;
    background: transparent;
    color: #48802C;
    font-size: 13pt;
    font-weight: bold;
    padding: 3px;
}

#searchBar select {
    margin: 5px;
}

#searchBar a {
    color: #48802C;
    text-decoration: none;
}

#searchBar .searchButton {
    width: 104px;
    height: 36px;
    position:relative;
    top:10px;
    text-indent: -9999px;
    border: none;
}

.ie6 #searchBar .searchButton {
    top:-5px;
}

#searchBar .searchButton:hover {
    background: url(../../images/new/plugins/Buttons/search_over.png) no-repeat left top;
}

.currentPlugin {
    width: 658px;
}

.currentPlugin a {
    border: none;
	text-decoration:none;
    background: transparent;
    color: #48802C;
	
}

.currentPlugin .header {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat left top;
    background-position: -10px -356px;
	margin:0px;
	position: relative;
}

.currentPlugin .header .detail {
	padding-top: 10px;
	padding-left:30px;
	padding-bottom:20px;
	font-size:0.8em;	
}

.currentPlugin .header .label{
	color:#767676;
	text-transform:uppercase;

}

.currentPlugin .header h4 {
	position:relative;
	top:1em;
	padding-left:20px;
}
.currentPlugin .header .supported {
	color:#767676;
	padding-left:20px;
	font-size:0.7em;
}
.currentPlugin .header .ratings {
	position: absolute;
	top: 1em;
	right: 10px;
}

.currentPlugin ul.links {
	list-style-type: none;
	padding-left:20px;
	padding-bottom:2em;
	font-size:0.9em;
    background: url(../../images/sprites/plugins-repeat.png) repeat-y left top;
    background-position: -338px 0px;
	margin:0;
	width: 100%;
}
.currentPlugin ul.links li {
	float: left;
	margin-right: 1.5em;
}
.currentPlugin .links  a { color: black; border: inherit; text-decoration: none;}
.currentPlugin .bottom .comments  a { color: black; border: inherit; text-decoration: none;detail}
.currentPlugin .bottom .comments {
	position:relative;
	margin-left:200px;
	bottom:40px;
	font-size:0.8em;
}

#contentArea {
	min-height:800px;
}
#contentBody a {
	border: none;
	text-decoration:none;
    background: transparent;
    color: #48802C;
}
#contentBody {
	position:relative;
	left:-2px;
}
.ie6 #contentBody {
        position:relative;
        top:-14px;
}

.currentPlugin .bottom a { color: black; border: inherit; text-decoration: none;}
.currentPlugin .bottom .download {
	float:right;
	position:relative;
	right:5px;
	bottom:80px;

	padding-right:55px;
	padding-top:40px;
	padding-bottom:10px;
	background: url(../../images/sprites/plugins-variable-width.png) no-repeat right bottom;
	background-position: 66px -853px;
}
.currentPlugin .bottom .moreInfo {
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;

}
.currentPlugin .bottom {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat left top;
    background-position: -10px -557px;
	margin:0px;
}

#latestComments {
    clear: all;
    width: 100%;
	min-height:400px;
	background:transparent url(../../images/new/bottom_section_stretch.png) repeat-x scroll left top
}

#latestComments h2 {
	position:relative;
	bottom:30px;
	left:15%;
	font-weight:normal;
	font-size:1.2em;
    margin: 0px;
    padding: 0px;
	width:80%;	
}
#latestComments #commentList {
	position:relative;
	left:15%;	
	font-size:0.8em;
	width:80%;	
}
#latestComments #commentList .comment {
	margin-bottom:30px;
}
#latestComments #commentList .comment img {
	float:left;
}
#latestComments #commentList .comment .author {
	font-weight:bold;
	margin-left:70px;
}
#latestComments #commentList .comment .date a {
	color:#003E00;
	border: inherit; text-decoration: none;
}
#latestComments #commentList .comment .date {
	color:#003E00;

	margin-left:70px;
	margin-bottom:10px;	
}
#latestComments #commentList .comment .commentBody {
	margin-left:70px;
	color:#767676;
}
#paginationPlugins a { color: black; border: inherit; text-decoration: none;}
#paginationPlugins .step, #paginationPlugins .nextLink, #paginationPlugins .prevLink {
	font-size:0.8em;
	padding:5px;	
	padding-top:2px;
	padding-left:4px;
	padding-right:7px;
	text-align:center;
	margin-left:3px;
	background:url(../../images/new/plugins/pagination_box.png) no-repeat left top;
	color:#767676;

}
#statusbox {
	margin-left:14px;
}

#paginationPlugins {
	margin-top:30px;
}

.ie6 #paginationPlugins {
        margin-bottom:80px;
}

#paginationPlugins .currentStep {
	font-size:0.8em;
	padding:5px;	
	padding-top:2px;
	padding-left:4px;
	padding-right:7px;
	padding-bottom:2px;
	text-align:center;
	margin-left:3px;
	color:white;
	background-color:#7B7B7B;

}
#pluginTags .tag a {
	color:#48802C;
	padding:100px;
}

#forumTop {
    background: url(../../images/new/plugins/forum_top.png) no-repeat center top;
    position: relative;
    top: 50px;
    width: 1008px;
}

#forumWrapper {
    background: url(../../images/new/plugins/forum_mdl.png) repeat-y center top;
    overflow: hidden;
    position: relative;
    top: 50px;
    width: 1008px;
}

#forumBottom {
    background: url(../../images/new/plugins/forum_btm.png) no-repeat center bottom;
    position: relative;
    top: 50px;
    width: 1008px;
}

#content #message {
    margin: 3em 1.5em;
}
