.no-top {
    margin-top: 0;
}

#contentBody a.big-link {
    display: inline-block;
    padding: 8px;
    font-size: 1.1em;
    background-color: #EEFFCC;
    border: solid 2px #48802C;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#contentWindow {
    margin-left: 230px;
    padding-top: 78px;
}

#search {
    background: url(../../images/sprites/subpage-variable-width.png) no-repeat top;
    background-position: 0px -163px;
    height: 10px;
    margin-top: 20px;
}

#sectionMenu {
}

#sectionMenu .header {
    background: url(../../images/sprites/sections-variable-width.png) no-repeat top;
    background-position: 0px -6px;
    font-size: 0.9em;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
#sectionMenu .footer {
    background: url(../../images/sprites/sections-variable-width.png) no-repeat top;
    background-position: 0px -159px;
    height: 10px;
}
#sectionMenu ul {
    background: url(../../images/sprites/sections-repeat.png) repeat-y top;
    background-position: 0px 0px;
    font-size: 0.9em;
    list-style: none;
    padding: 12px 26px 0 26px;
}
#sectionMenu ul li {
    height: 30px;
    padding-left: 30px;
}
#sectionMenu ul li a  {
    color: black;
    text-decoration: none;
}
#sectionMenu ul li.all {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -625px;
}
#sectionMenu ul li.featured {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -665px;
}
#sectionMenu ul li.popular {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -705px;
}
#sectionMenu ul li.newest {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat top left;
    background-position: -10px -785px;
}

#searchBar {
    background: url(../../images/sprites/plugins-variable-width.png) no-repeat left top;
    background-position: -10px -278px;
    position: relative;
    width: 706px;
    height: 58px;
    margin-bottom: 20px;
}

#contentWindowTop {
    position: static;
}

#contentDecoration {
    position: absolute;
    top: 0;
    right: 50px;
    margin-right: 0;
}

#contentBody {
    top: 0;
    padding-top: 0;
    min-height: 45em;
}

#contentFooter {
    position: static;
}

#searchBar .searchBox {
    text-align: left;
}

#searchBar .searchInput {
    margin: 15px 10px 15px 15px;
    height: 20px;
    width: 390px;
    border: none;
    background: transparent;
    color: #48802C;
    font-size: 13pt;
    font-weight: bold;
    padding: 3px;
}

#searchBar select {
    margin: 5px;
}

#searchBar a {
    color: #48802C;
    text-decoration: none;
}

#searchBar .searchButton {
    width: 104px;
    height: 36px;
    position:relative;
    top:10px;
    text-indent: -9999px;
    border: none;
}

.ie6 #searchBar .searchButton {
    top:-5px;
}

#searchBar .searchButton:hover {
    background: url(../../images/new/plugins/Buttons/search_over.png) no-repeat left top;
}

/*----------------------------------------------------------------------------
 * Tutorials
 */
#contentBody .artifact .unlike {
    color: red;
}

#contentBody .artifact .likeCount {
    color: #767676;
}

#contentBody .artifact .likeCount em {
    color: black;
    font-style: normal;
}

#contentBody .artifact .tutorial h2 {
    display: inline-block;
    margin-bottom: 0.3em;
}

#contentBody .artifact .tutorial h3 {
    border: none;
    font-size: 1em;
}

#contentBody .artifact .tutorial .edit {
    display: inline-block;
    margin: 0em 0.6em;
}

#contentBody .artifact .tutorial .edit > div {
    display: inline-block;
    margin-left: 0.3em;
}

#contentBody .artifact .tutorial h3 .label {
    color: #767676;
    font-size: 0.9em;
    margin-right: 0.3em;
    text-transform: uppercase;
}

#contentBody .artifact .tutorial h3 a {
    background-color: #D8D8D8;
    color: #48802C;
    padding: 0 3px;
    margin-right: 3px;
    text-decoration: none;
}

#contentBody .artifact .tutorial .likeCount {
    display: inline-block;
    margin-left: 5px;
    float: right;
    font-size: 0.9em;
}

.screencastControls, .blogControls, .artifactControls {
    margin-bottom: 20px;
}
.screencastControls a, .artifactControls {
	color: black; border: inherit; text-decoration: none;		
}
.screencastControls div, .blogControls div, .artifactControls div {
	display:inline-block;
	padding-right:20px;
}

.artifactControls .menuButton {
    margin-top: 10px;
}

.artifactControls #searchBox {
	display: block;
	margin-top: 1.5em;
	padding-right:20px;
	width: 50%;
}

.artifactControls #searchBox input[name=q] {
	width: 50%;
}

.screencastControls .list, .blogControls .list, .artifactControls .list {
	text-align:right;
	padding-left:20px;
	background: url(../../images/famfamfam/application_view_list.png)  left no-repeat;
}
.screencastControls .edit, .screencastControls .create, .blogControls .create, .blogControls .edit, .artifactControls .edit, .artifactControls .create {
	text-align:right;
	padding-left:20px;
	background: url(../../images/icon-edit.png)  left no-repeat;
}
.screencastControls .feed, .blogControls .feed, .artifactControls .feed {
	text-align:right;
	padding-left:20px;
	background: url(../../images/famfamfam/feed.png)  left no-repeat;
}

.screencastForm, .artifactForm {
	padding:15px;
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;	
	
}

.artifact {
/*    min-height: 220px; */
}

.artifact h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.artifact .tagList {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.artifacts .webSite {
    overflow-y: hidden;
}

.artifacts .webSite a {
}

.artifact .likeCount {
    display: inline-block;
}

.artifacts .artifact .webSite .vote, .artifact .vote {
    display: inline-block;
    font-size: 0.9em;
}

.webSiteThumbnail {
    margin: 10px 0;
    width: 300px;
    max-height: 200px;
    overflow: hidden;
}

.webSiteThumbnail.even {
    float: right;
    margin-left: 10px;
}

.webSiteThumbnail.odd {
    float: left;
    margin-right: 10px;
}

.screencastForm label, .artifactForm label {
	display:block;
	font-size:1.2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.screencastForm input, .artifactForm input {
	display:block;
	margin-bottom:10px;
}
.screencastForm input[type=text], .artifactForm input[type=text] {
	width: 400px;
}
.screencastForm textarea, .artifactForm textarea {
	display:block;
	width:400px;
	height:100px;
	margin:0;
}
.screencast .screencastDescription, .artifact .artifactDescription {
	margin-top:5px;
	margin-bottom:5px;	
	font-size:1.1em;
	padding:15px;	
}
.screencast .screencastTags, .artifact .artifactTags{
	font-size:1.2em;
	margin-bottom:10px;
	color:grey;
}
.screencast .screencastDownloads, .artifact .artifactDownloads {
	padding:10px;	
	font-weight:bold;
	font-size:1.2em;
}
.screencast .screencastInfo, .artifact .artifactInfo {
	color:grey;
	text-align:center;
}
.screencast .screencastTitle, .artifact .artifactTitle {
	font-size:1.4em;
	text-align:center;
	
}
