* {
margin: 0;
}
p {
	margin-top:10px;
	margin-bottom:10px;
}

#contentTitle {
	position:absolute;
	left:30%;
	top:70px;
	color:#094B00;
	background: url(../../images/sprites/subpage-variable-width.png) no-repeat left top;
	background-position: -10px -10px;	
	margin-top:27px;
	height:55px;
	text-align:left;
	padding-top:30px;
	padding-left:70px;
	min-width: 12em;
}
#contentCenter {
	width:1008px;
	min-height:800px;
	z-index:3;
}
#contentWindow {
	margin-left:230px;
	padding-top:50px;
}
#contentBody h1,#contentBody h2,#contentBody h3,#contentBody h4,#contentBody h5,#contentBody p, #contentBody ul, #contentBody ol, #contentBody table {
	margin-bottom:20px;	
	font-weight:normal;
}
#contentBody li {
    padding: 3px 0;
}
#contentBody a {
		color: #48802C; border: inherit; text-decoration: none;		
}
#contentBody h2 {
	font-size:1.2em;
	font-weight:normal;
	color:black;
}
#contentBody .fixed h2 {
	font-size:1.2em;
	font-weight:bold;
	color:#48802C;
}
#navMenu {
	z-index:99;
	width:250px;
	text-align:left;
	float:left;
	margin-top:80px;
} 
#navMenu .header a {
	font-size:13pt;
	color:#006D00;
	border: inherit; text-decoration: none;
}
#reference {
	margin-left:10px;
	list-style-image:url(../../images/new/content/icon_ref.png);
}
#start {
	margin-left:10px;
	list-style-image:url(../../images/new/content/icon_get_strt.png);
}

#community {
	margin-left:10px;
	list-style-image:url(../../images/new/content/icon_communt.png);
}

#navMenu .header {
	padding-top:10px;
	padding-bottom:10px;

}
#navMenu .header ul {
	margin-left:0px;
	padding-left:0px;
	text-align:left;
	list-style:none;

}
#navMenu .header li a {
	font-size:11pt;
	color: black; border: inherit; text-decoration: none;	
}

#search {
    background: url(../../images/sprites/subpage-variable-width.png) no-repeat top;
    background-position: 0px -163px;
	height:10px;
}
#nav {
    background: url(../../images/sprites/subpage-repeat.png) repeat-y top;
    background-position: 0px 0px;
}
.ie6 #nav {
    padding-bottom:30px;
}
.ie6 #nav #start, .ie6 #nav #reference, .ie6 #nav #community {
    margin-left:40px;
}
.ie6 #nav #start ul, .ie6 #nav #reference ul, .ie6 #nav #community ul {
    list-style-image:none;
}

#navFooter {
    background: url(../../images/sprites/subpage-variable-width.png) no-repeat top;
    background-position: 0px -196px;	
	height:20px;
	
}
/* code styles
------------------------------------------------------- */

.java-keyword {
    font-weight: bold;
    color: darkblue;
}

.code .code-object {
    font-weight: bold;
    color: purple;
}

.java-quote {
    color: darkred;
    font-weight: normal;
}

.java-quote .java-keyword {
    color: inherit;
    font-weight: inherit;
}

.code .xml-tag {
    color: #222;
}

.code .xml-quote {
    color: darkred;
}
.code {
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;
	width:90%;
	overflow:auto;
	margin-top:20px;
	margin-bottom:20px;	
}
textarea {
	margin-top:30px;
	width:640px;
}
#contentPane {
	
}
#postComment h2 {
		color: #48802C; border: inherit; text-decoration: none;			
}

#contentBody h3, #contentBody h4 {
	color:black;
	font-size:1.0em;	
	border-bottom:1px solid #48802C;
}

#viewLinks {
	padding-bottom:10px;
}

#contentWindow h1 {
	margin-left:0px;
	font-size:1.4em;
	font-weight:normal;
}
#loginForm {
	margin-left:20px;
}

#search input {
    margin: 15px 10px 15px 15px;
    height: 20px;
    width: 170px;
    border: none;
    background: transparent;
    color: #48802C;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px;
	padding-top:1px;
	padding-left:15px;
	margin-bottom:3px;
}

#contentPane .downloads h2 {
	color: #48802C;
}

.screencastControls, .blogControls, .artifactControls {
	margin-bottom:20px;
}
.screencastControls a, .artifactControls {
	color: black; border: inherit; text-decoration: none;		
}
.screencastControls div, .blogControls div, .artifactControls div {
	display:inline-block;
	padding-right:20px;
}
.artifactControls #searchBox {
	display: block;
	margin-top: 1.5em;
	padding-right:20px;
	width: 50%;
}
.artifactControls #searchBox input[name=q] {
	width: 50%;
}
.blogControls .show  {
	text-align:right;
	padding-left:20px;
	background: url(../../images/icon-cancel.png)  left no-repeat;
}
.screencastControls .list, .blogControls .list, .artifactControls .list {
	text-align:right;
	padding-left:20px;
	background: url(../../images/famfamfam/application_view_list.png)  left no-repeat;
}
.screencastControls .edit, .screencastControls .create, .blogControls .create, .blogControls .edit, .artifactControls .edit, .artifactControls .create {
	text-align:right;
	padding-left:20px;
	background: url(../../images/icon-edit.png)  left no-repeat;
}
.screencastControls .feed, .blogControls .feed, .artifactControls .feed {
	text-align:right;
	padding-left:20px;
	background: url(../../images/famfamfam/feed.png)  left no-repeat;
}

.screencastForm, .artifactForm {
	padding:15px;
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;	
	
}

#contentBody #searchBox {
	margin-bottom:30px;
}
#contentBody #searchBox div {
	margin: 10px 0;
}
.screencasts .screencast h2 a {
	color: #48802C; border: inherit; text-decoration: none;	
}
.screencastTitle a {
	color: #48802C; border: inherit; text-decoration: none;	
	font-size:1.4em;
}
.screencastTags a {
	color: #48802C; border: inherit; text-decoration: none;	
}
.screencastThumbnail a {
	color: #48802C; text-decoration: none;	
}
.screencasts .screencast {
	margin-bottom:30px;
	width:90%;
	padding:15px;
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;	
	overflow:auto;
	
}

.screencast .screencastDownloads a { 
	color: black; border: inherit; text-decoration: none;
	font-size:0.9em;
	font-weight:normal;
}
.screencast .screencastDownloads {
	display:none;
}
.screencastComments {
	padding-top:30px;
	
}
.screencastComments h1 {
	color:#48802C;
	border: inherit; text-decoration: none;
	
}

.blogEntry {
	margin-bottom:10px;
	margin-top:10px;	
}
.blogEntry .entryDetails{
	color:grey;
	margin-bottom:20px;
}
.blogQuickLinks {
	display:none;
}
.blogEntryDisplay {
	font-size:12pt;
}
#blogEntries h2 {
	color:#48802C;
	border: inherit; text-decoration: none;
	
}
#blogEntries .recentEntries {
   padding-top:60px;	
   background: url(../../images/new/content/mainbox_area2_top.png) no-repeat top;		
}
#blogEntries .entryTitle {
	font-size:13pt;
	margin-bottom:0px;
}

#createEntry input[type=text] {
    width: 99%;
    margin: 0.5em 0 1em 0;
    padding: 0 1px;
}

#entryBody_container {
    margin: 0.5em 0 1em 0;
    padding: 0 1px;
}

.screencastComments .comment, .blogEntryDisplay .entryComments .comment {
	margin-top:15px;
	border-bottom:1px dashed #265c8f;
} 
.screencastComments .comment .permalink, .blogEntryDisplay .entryComments .comment .permalink {
	text-align:right;
	font-size:1.2em;
}
.screencastComments .comment .avatar, .blogEntryDisplay .entryComments .comment .avatar {
	display:block;
	position:relative;
	top:-15px;
}
.screencastComments .comment .commentBody, .blogEntryDisplay .entryComments .comment .commentBody {
	font-size:1.2em;
}
.screencastComments .comment .commentDetails, .blogEntryDisplay .entryComments .comment .commentDetails {
	margin-top:10px;
	color:grey;
}
.screencastComments textarea, .blogEntryDisplay .entryComments textarea {
	width:400px;
	height:200px;
	margin-bottom:10px;
}
.screencastComments #addComment, .blogEntryDisplay .entryComments #addComment {
	margin-top:20px;	
}
.screencastComments #addComment a, .blogEntryDisplay .entryComments #addComment a {

	color: #48802C; border: inherit; text-decoration: none;		
}

.screencastComments h2, .blogEntryDisplay .entryComments h2 {
	color: #48802C; border: inherit; text-decoration: none;		
}


.screencastForm label, .artifactForm label {
	display:block;
	font-size:1.2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.screencastForm input, .artifactForm input {
	display:block;
	margin-bottom:10px;
}
.screencastForm input[type=text], .artifactForm input[type=text] {
	width: 400px;
}
.screencastForm textarea, .artifactForm textarea {
	display:block;
	width:400px;
	height:100px;
	margin:0;
}
.screencast .screencastDescription, .artifact .artifactDescription {
	margin-top:5px;
	margin-bottom:5px;	
	font-size:1.1em;
	padding:15px;	
}
.screencast .screencastTags, .artifact .artifactTags{
	font-size:1.2em;
	margin-bottom:10px;
	color:grey;
}
.screencast .screencastDownloads, .artifact .artifactDownloads {
	padding:10px;	
	font-weight:bold;
	font-size:1.2em;
}
.screencast .screencastInfo, .artifact .artifactInfo {
	color:grey;
	text-align:center;
}
.screencast .screencastTitle, .artifact .artifactTitle {
	font-size:1.4em;
	text-align:center;
	
}
.screencasts .screencast .screencastTitle {
	text-align:left;	
}
.screencasts .screencast .screencastInfo {
	text-align:left;	
}

.screencast .screencastThumbnail {
	text-align:center;
}
#btmSectionGraphicsWrapper h2 {
margin-left:25%;
}
#contentComments #commentList {
margin-left:15%;	
width:850px;
}
#contentComments #commentPaginator {
margin-left:15%;	
margin-bottom:30px;	
}
#editLinks {
    /*
     These are a bit of a hack to get the 'wiki syntax' link on wiki
     edit pages working. Previously, you couldn't click on the link.
    */
    position: relative;
    z-index: 20;
}
#editLinks a,#viewLinks a {
	color: black; border: inherit; text-decoration: none;	
}
.ie6 #editLinks, .ie6 #viewLinks {
        position:relative;
        left:-40px;
}
.ie6 #editLinks a, .ie6 #viewLinks a {
        color:black;
        padding:30px;
        padding-right:0px;
}
#navAds {
	padding-top:20px;
	text-align:center;
}

#previewContainer {
     top:200px;
	 width:700px;
     left:50px;
}

li.deprecated {
    text-decoration: line-through;
}

table.wiki-table {
    border: 1px solid black;
}

table.wiki-table th {
    background-color: #DDD;
    border-bottom: 1px solid black;
    color: #48802C;
}

table.wiki-table th, table.wiki-table td {
    padding: 0.4em 0.7em;
}

.hint {
    font-size: 80%;
}
